/** @format */

.text-hostel {
      color: black;
}

.background-primary {
      background-color: #5f6f52;
}

.background-secondary {
      background-color: #fff2e6;
}

.background-third {
      background-color: #fff2e6;
}
