/** @format */

.image-footer {
      width: 150px;
      height: 150px;
      background-image: url("../../assets/images/login/image.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 16px;
      margin-left: 12px;
}
